*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
/* VAR */
:root{
    --main:rgb(200,20,60);
    --white: #f1f1f1;
    --black:#1b1a1a;
}

/* NAVBAR */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;    
    z-index: 999;
}
.navbar.sticky{
    padding: 15px 0;
    background-color: var(--main);    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: var(--white);
}
.navbar .logo a span{
    color: var(--main);
}
.navbar.sticky .logo a span{
    color: var(--white);
    transition: all 0.3s ease;  
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--main);
}
.navbar.sticky .menu li a:hover{
    color: var(--white);
}
.menu-btn{
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}
.menu-btn .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);    
    display: none;  
}

/* HOME SECTION */
.home{
    display: flex;
    background: url('./Img/portfolio.jpg') no-repeat center;
    overflow: hidden;
    height: 100vh;
    color: var(--white);
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: var(--main);
    font-weight: 500;
}
.home .home-content a,
.about .about-content .right a{
    display: inline-block;
    background: var(--main);
    color: var(--white);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid var(--main);
    transition: all 0.3s ease;
}
.home .home-content a:hover,
.about .about-content .right a:hover{
    background: transparent;
    color: var(--main);
}
/* ABOUT SECTION */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--black);
    transform: translateX(-50%);
}
.about .title::after{
    content: 'who i am';
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--main);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 4px;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--main);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
}












/* MEDIAQUERY */ 

@media screen and (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}
@media screen and (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        
    }
}
@media screen and (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .left img{
        width:300px;
        height: 300px;
    }
}

@media screen and (max-width:768px) {
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        background: var(--black);
        height: 100vh;
        width: 100%;
        right:0;
        top:-3000px;
        text-align: center;    
        padding-top: 80px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        top: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .menu-btn .bar{
        display: block;
              
    }
    .menu-btn{
        display: block;
        z-index: 2;
    }
    .menu-btn.is-active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-btn.is-active .bar:nth-child(1){
        transform: rotate(44deg) translateY(11px);
    }
    .menu-btn.is-active .bar:nth-child(3){
        transform: rotate(-44deg) translateY(-11px);
    }
    .home .home-content .text-2{
        font-size: 70px;
        
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
} 
@media screen and (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
        
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        /* padding: 9px 25px; */
    }
}
@media screen and (max-width: 500px) {
    /* .max-width{
        padding: 0 23px;
    } */
    .home .home-content .text-2{
        font-size: 50px;
        
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}